@import 'variables';

#heart {
  position: relative;
  width:    calc(20 * #{$size});
  // Pixel size * # of columns
  height:   calc(20 * #{$size});
  // Pixel size * # of rows
  margin:   1rem;

  &::after {
	content:  '';
	position: absolute;
	top:      0;
	left:     0;
	width:    $size;
	height:   $size;
	// box-shadow will be applied here
  }
}